services:
  db:
    image: postgres:16
    container_name: towerads_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - towerads_pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  api:
    build: ./app
    container_name: towerads_api
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  towerads_pgdata:
